# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
CREDITS-fml.txt
LICENSE-new.txt
MinecraftForge-Credits.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
classes/
config/
crash-reports/
forge-1.11-13.19.1.2195-changelog.txt
logs/
mods/
options.txt
resourcepacks/
saves/
usercache.json
usernamecache.json
/screenshots/
banned-ips.json
banned-players.json
eula.txt
hs_err_pid16488.log
ops.json
server.properties
whitelist.json
world/
hs_err_pid11000.log
hs_err_pid14512.log
hs_err_pid19324.log
replay_pid11000.log
replay_pid14512.log
replay_pid19324.log
hs_err_pid17212.log
replay_pid17212.log
